/*******************
Bodys
*******************/
body#page-enrol-index {
    #region-main {
        .generalbox {
            float: left;
            width: 30%;
        }
        .generalbox:last-of-type {
            width: 70%;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

body.pagelayout-popup {
    margin-left: 0;
}

/*******************
Headings
*******************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: $headings-color;
    font-family: "Poppins", sans-serif;
    font-weight: $headings-font-weight;
}

body.odafont {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        font-family: oda, comic sans ms, clfallback, Verdana;
    }
}
/*******************
Pages
*******************/
#page {
    margin-top: 40px;

    &.container-fluid {
        padding: 2rem;
    }
}

#page-wrapper {
    height: auto;
}

#region-main {
    padding: 0;
}

#page-admin-index.pagelayout-maintenance {
    margin-left: 0;

    #region-main {
        border: 0;
        background-color: initial;
        padding: 1.25rem;
    }

    #page-wrapper::after {
        min-height: inherit;
    }
}

.pagelayout-mypublic,
.pagelayout-mydashboard,
.pagelayout-frontpage,
.pagelayout-standard,
.pagelayout-admin,
.pagelayout-course,
.pagelayout-incourse,
.pagelayout-report {
    #region-main {
        padding: 0;
        border: 0;
    }
}

/*******************
Card
*******************/
.card {
    border-color: $card-border-color;
    border-radius: $card-border-radius;

    &.card-block,
    .card-block,
    .card-body {
        padding: $m-card-padding;
    }
}

/* Third party plugins compatibility. */
/* Course format grid */
#gridshadebox_content {
    top: 80px !important;
}

.popover .arrow {
    bottom: -8px;
}


/*******************
Progress
*******************/
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: $body-bg;
    margin-left: 12px;
    width: inherit;

    .progress-bar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        background-color: $brand-primary;
        overflow: hidden;
    }
}

.region_main_settings_menu_proxy {
    background-color: initial;
}

/*******************
Sparklearn
*******************/
.card-deck{
    justify-content: center;
}

.course-card {
    border-color: #fff;
    margin: 10px 0 10px 0;
    @media (max-width: 1200px) {
        min-width: 100%;
        height: 100px;
    }
}

.course-card-background {
    position:relative;
    display:inline-block;
    height: 100%;

    img{
        border-radius: 20px;
        height: 100%;
    }
}
.course-card-background::after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    border-radius: 20px;
    background: -moz-linear-gradient(top, rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220, 66, 37, 0.5)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* IE10+ */
    // background: linear-gradient(to bottom, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* W3C */
    background: linear-gradient(0deg, rgba(18,18,18,0.9304096638655462) 0%, rgb(29 29 29 / 58%) 65%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    // background: rgb(77,75,75);
    // background: linear-gradient(0deg, rgba(77,75,75,0.9304096638655462) 0%, rgba(135,135,136,0.804359243697479) 39%, rgba(255,255,255,0) 100%);
    
    
}



.course-card-body {
    position: absolute;
    top: 85%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.course-card-title {
    a {
        color: #fff;
        text-decoration: none;
        background-color: transparent;
        font-size: 1rem;
    }
}
