.nav-sw-toggle{
    width: 48px;
    height: 48px;
    background: #e66d2c;
    padding: 12px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease-in;
    padding-top: 8px;
    line-height: 8px;
    text-align: right;
    // position: fixed;
    left: 0;
    top: 0;
    z-index: 201;
    margin: 10px 20px;
}
.nav-sw-toggle:hover{
    background: #e15309;
}
.nav-sw-toggle span{
    height: 3px;
    width: 100%;
    background: white;
    display: inline-block;
    transition: all 0.5s cubic-bezier(.62,.43,.35,1.47);
}


/* toggle icon animation */
#check:checked ~ .nav-sw-toggle span:nth-child(1){
    width: 100%;
    transform: rotate(45deg) translateY(6px) translateX(6px);
}
#check:checked ~ .nav-sw-toggle span:nth-child(2){
    width: 0;
}

#check:checked ~ .nav-sw-toggle span:nth-child(3){
    width: 100%;
    transform: rotate(-45deg) translateY(-7px) translateX(7px);
}

.mobile-nav{
    text-align: left;
    overflow: hidden;
    transition: all 0.4s ease;
    position: absolute;
    top: 70px;
    // left: 0;
    width: 95%;
    background:rgba(255, 255, 255, 0.95);
    height: 0;
}
.mobile-nav a{
    text-decoration: none;
    color: #0c1019;
    display: block;
    font-size: 18px;
    transition: all 0.4s cubic-bezier(.22,.43,.35,1.5);
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
    text-align: center;
    // border-bottom: 1px solid #b4ac97;
}

.mobile-nav a:hover{
    background: #ffdd7f;
}

/* the nav height will be set to the height in pixels that would have for default, using height:auto won't work but you can put that value in pixels creating the slide*/
#check:checked ~ .mobile-nav{
    height: 100vh;
}

#check:checked ~ .mobile-nav a{
    padding: 10px;
    opacity: 1;
    transform: scale(1);
}

nav.navbar {
    min-height: $navbar-height;
    -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: $navbar-header-color;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    .drawer-toggle {
        height: 70px;
        width: 70px;
        margin-left: -16px;
        padding: 16px 9px 0 9px;
        background-color: $navbar-bg;

        .nav-link {
            color: #fff;
            border: none;
            background-color: initial;
        }
    }

    .navbar-brand {
        // margin-left: 6rem;
        padding: 0;

        .logo img {
            max-height: 70px;
        }

        .site-name {
            line-height: 70px;
        }
    }

    .moove-search-input {
        margin: 0 .8rem;
        line-height: 70px;
        padding: 0;
        overflow: hidden;
        float: right;
        width: 28px;
        cursor: pointer;

        i {
            color: $brand-primary;
            font-size: 19px;
        }

        > div {
            float: left;
            margin: 0;
        }

        &.expanded {
            .search-input-form {
                visibility: visible;
                opacity: 1;
            }
        }

        .search-input-form {
            position: absolute;
            margin: 0;
            visibility: hidden;
            opacity: 0;
            z-index: 110;
            width: 100%;
            top: -1px;
            left: 0;
            -webkit-box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
            -webkit-transition: opacity 400ms, visibility 400ms;
            transition: opacity 400ms, visibility 400ms;

            .form-control {
                width: 100%;
                padding: 24px 40px 24px 20px;
                border-radius: 0;
                font-size: 17px;
                height: 70px;
            }

            .close-search {
                position: absolute;
                top: 0;
                cursor: pointer;
                background: #fff;
                width: 15px;
                height: 15px;
                right: 20px;
                font-size: 23px;

                i {
                    color: #55595c;
                }
            }
        }
    }

    .custom-menus {
        // custom menu css
        color: #414141!important;
        padding: 44px 1px 6px 25px;
        margin-bottom: 32px;
        border-radius: 18px;
        // margin-left: 165px;
    
        .nav-item {
            color:white!important;
            padding: 14px;
            transition: .5s;
        }
    }
    

    ul.navbar-nav {
        li,
        .nav-item {
            list-style-type: none;

            > a {
                text-decoration: none;
                color: #585757;
                font-weight: 900;
                transition: .5s;
            }

            a:hover {
                color: #fff;
                padding: 8px 19px 8px 19px;
                background-color: #e66d2c;
                transition: .5s;
                border-radius: 4px;
                text-decoration: none;
                box-shadow: 0 0 8px #e15309;
            }

            a.new-btn {
                color: #fff;
                padding: 8px 19px 8px 19px;
                background-color: #e15309;
                transition: .5s;
                border-radius: 4px;
                font-weight: 100;
                text-decoration: none;
                box-shadow: 0 0 8px #e15309;
            }

            a.new-btn:hover {
                color: #fff;
                padding: 8px 19px 8px 19px;
                font-weight: 900;
                background-color: #f8981d;
                box-shadow: 0 0 8px #e15309;
                transition: .5s;
            }

            .nav-link {
                padding: 0;
            }

            .dropdown-menu {
                padding: 0;

                .dropdown-item {
                    line-height: 32px;
                }
            }

            .dropdown:hover .dropdown-menu {display: block;}
        }



        .popover-region {
            margin-right: 0;
            max-height: $navbar-height;

            .popover-region-container {
                @extend .scale-up;
                top: $navbar-height;

                .popover-region-header-container {
                    height: 50px;
                    padding: 11px 20px 15px;
                    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
                }

                .popover-region-content-container {
                    height: calc(100% - 50px);

                    .content-item-container {
                        line-height: initial;
                        background-color: #fff;
                        padding: 15px;

                        &.unread {
                            background-color: #f4f4f4;
                        }

                        &:hover {
                            background-color: $body-bg;
                            color: inherit;

                            .content-item-footer .timestamp {
                                color: inherit;
                            }
                        }

                        .content-item-body {
                            font-weight: normal;
                            width: calc(100% - 54px);

                            h3,
                            .notification-message {
                                font-size: 1.2rem;
                                margin-bottom: 5px;
                                font-weight: normal;
                            }

                            p {
                                line-height: initial;
                            }

                            .notification-message {
                                font-size: 1rem;
                            }
                        }

                        .view-more {
                            font-size: .9rem;
                        }

                        .content-item-footer .timestamp {
                            font-size: .9rem;
                            line-height: inherit;
                        }

                        .unread-count-container {
                            width: 24px;

                            .badge {
                                background-color: $brand-primary;
                                width: 21px;
                                height: 21px;
                                border-radius: 11px;
                                line-height: 17px;
                            }
                        }
                    }
                }

                .popover-region-footer-container {
                    height: 50px;
                    padding: 15px 20px;
                    border: 1px solid #ddd;
                    margin: 0 -1px;

                    .popover-region-seeall-text {
                        line-height: initial;
                    }
                }
            }

            .popover-region-container[aria-hidden="false"] {
                @extend .scale-up-show;
            }

            .popover-region-toggle {
                width: 50px;
                text-align: center;
                color: $brand-primary;
                font-size: 19px;
                line-height: $navbar-height;
                padding: .2rem .8rem 0;
            }

            .popover-region-toggle {
                i.fa {
                    font-size: 1.4rem;
                }

                .count-container {
                    top: 13px;
                    right: 0;
                    position: absolute;
                    height: 18px;
                    width: 18px;
                    border-radius: 9px;
                    line-height: 15px;

                    &::before {
                        content: "";
                        top: -11px;
                        right: -11px;
                        position: absolute;
                        height: 40px;
                        width: 40px;
                        z-index: 10;
                        border: 5px solid #fc4b6c;
                        border-radius: 20px;
                        -moz-animation: heartbit 1s ease-out;
                        -moz-animation-iteration-count: infinite;
                        -o-animation: heartbit 1s ease-out;
                        -o-animation-iteration-count: infinite;
                        -webkit-animation: heartbit 1s ease-out;
                        -webkit-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                    }
                }
            }
        }

        .lang-menu {
            max-height: $navbar-height;

            .nav-item {
                line-height: 70px;
            }

            .dropdown-menu {
                @extend .scale-up-right;

                right: 0;
                left: inherit;

                &.show {
                    @extend .scale-up-right-show;
                }
            }

            .dropdown-toggle::after {
                border: none;
            }

            .nav-link {
                color: $brand-primary;
                padding: .2rem .8rem 0 1.2rem;

                .slicon-globe {
                    font-size: 1.2rem;
                }
            }

            .dropdown-menu {
                margin-top: 0;
                padding: 0;

                a.dropdown-item {
                    line-height: 32px;
                }
            }
        }

        .usermenu {
            line-height: 70px;
            padding-left: .8rem;

            .dropdown {
                .dropdown-menu {
                    @extend .scale-up;
                    margin-top: 0;

                    .dropdown-item {
                        &.text-username {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                }

                &.show {
                    .dropdown-menu {
                        @extend .scale-up-show;
                    }
                }
            }
        }
    }
}

.userloggedinas {
    nav.navbar ul.navbar-nav .usermenu {
        line-height: 35px;

        .usertext .meta.viewingas {
            line-height: initial;
        }

        .userbutton .avatars .realuser {
            padding-top: 10px;
        }
    }
}
