        <li class="nav-item mr-4"><a href="#page-header">HOME</a></li>
        <li class="nav-item mr-4"><a href="#frontpage-available-course-list">COURSES</a></li>
        <li class="nav-item mr-4"><a href="#">GUIDES</a></li>
        <li class="nav-item mr-4"><a href="https://earn.sparkpoint.io" target="_blank">EARN</a></li>
        <li class="nav-item mr-4"><a href="https://medium.com/theecosystem" target="_blank">UPDATES</a></li>
        <li class="nav-item mr-4"><a href="#">COMMUNITY</a></li>
        <li class="nav-item mr-4"><a href="#">SUPPORT</a></li>

