<li class="nav-item mr-4 d-none custom-menu">
    <a href="#page-header">Home</a>
</li>
<li class="nav-item mr-4 d-none custom-menu">
    <a href="https://www.sparkpoint.io/learn" target="_blank">About</a>
</li>
<li class="nav-item mr-4 d-none custom-menu">
    <a href="#page-course">Courses</a>
</li>
<li class="nav-item mr-4 d-none custom-menu">
    <a href="#" target="_blank">Guides</a>
</li>
<li class="nav-item mr-4 d-none custom-menu">
    <a href="https://sparkpoint.io/bootcamp" target="_blank">BDB2021</a>
</li>
<li class="nav-item mr-4 d-none custom-menu">
    <a href="faq.php">FAQs</a>
</li>



