<a class="custom-menu d-none" href="#" target="_blank">Home</a>
<a class="custom-menu d-none" href="#" target="_blank">Objectives</a>
<a class="custom-menu d-none" href="#" target="_blank">Courses</a>
<a class="custom-menu d-none" href="#" target="_blank">Guides</a>
<a class="custom-menu d-none" href="https://sparkpoint.io/bootcamp" target="_blank">BDB2021</a>
<a class="custom-menu d-none" href="https://sparkpoint.io/faq" target="_blank">FAQs</a>
<a class="btn btn-login-top d-none" href="http://chan.jbtabz.com/login/index.php">Log in</a>




