{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/frontpage_footer
    Blocks drawer template
}}

{{! <div id="page-custom-footer" class="frontpage-custom-footer bg-gray"> }}
    <div id="page-social-icons" class="frontpage-social-icons">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="social-icons text-center bg-grey">
                        <a
                            href="mailto:support@sparkpoint.io"
                            title="Email SparkPoint"
                            target="_blank"
                            class="mx-1 mx-md-2"
                            data-aos="zoom-in"
                            data-aos-delay="50"
                        >
                            <i class="fa fa-envelope fa-2x"></i>
                        </a>
                        <a
                            href="https://www.facebook.com/sparkpointio"
                            title="Like SparkPoint on Facebook"
                            target="_blank"
                            class="mx-1 mx-md-2"
                            data-aos="zoom-in"
                            data-aos-delay="100"
                        >
                            <i class="fab fa-facebook-f fa-2x"></i>
                        </a>
                        <a
                            href="https://www.twitter.com/sparkpointio"
                            title="Follow SparkPoint on Twitter"
                            target="_blank"
                            class="mx-1 mx-md-2"
                            data-aos="zoom-in"
                            data-aos-delay="150"
                        >
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                        <a
                            href="https://t.me/SparkpointOfficial"
                            title="Chat with SparkPoint on Telegram"
                            target="_blank"
                            class="mx-1 mx-md-2"
                            data-aos="zoom-in"
                            data-aos-delay="200"
                        >
                            <i class="fab fa-telegram fa-2x"></i>
                        </a>
                        <a
                            href="https://github.com/sparkpointio"
                            title="SparkPoint on Github"
                            target="_blank"
                            class="mx-1 mx-md-2"
                            data-aos="zoom-in"
                            data-aos-delay="300"
                        >
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                        <a
                            href="https://www.linkedin.com/company/sparkpointio/"
                            title="SparkPoint on Linkedin"
                            target="_blank"
                            class="mx-1 mx-md-2"
                            data-aos="zoom-in"
                            data-aos-delay="300"
                        >
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                        <a
                            href="https://medium.com/theecosystem"
                            title="SparkPoint on Medium"
                            target="_blank"
                            class="mx-1 mx-md-2"
                            data-aos="zoom-in"
                            data-aos-delay="400"
                        >
                            <i class="fab fa-medium-m fa-2x"></i>
                        </a>
                        <a
                            href="https://www.reddit.com/r/SparkPoint"
                            title="SparkPoint on Reddit"
                            target="_blank"
                            class="mx-1 mx-md-2"
                            data-aos="zoom-in"
                            data-aos-delay="400"
                        >
                            <i class="fab fa-reddit fa-2x"></i>
                        </a>
                        <a
                            href="https://bitcointalk.org/index.php?topic=5100581.0"
                            title="SparkPoint on Bitcointalk"
                            target="_blank"
                            class="mx-1 mx-md-2"
                            data-aos="zoom-in"
                            data-aos-delay="400"
                        >
                            <i class="fab fa-btc fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="page-custom-footer" class="frontpage-custom-footer bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h4 class="text-white mb-3">Get to Know SparkPoint</h4>
                            <ul>
                                <li><a
                                    href="about-us"
                                    title="About Us"
                                >About Us</a></li>
                                <li><a
                                    href="https://coinmarketcap.com/currencies/sparkpoint/"
                                    title="CoinMarketCap"
                                    target="_blank"
                                >CoinMarketCap</a></li>
                                <li><a
                                    href="team"
                                    title="The Team"
                                >The Team</a></li>
                                <li><a
                                    href="https://www.linkedin.com/company/sparkpointio/"
                                    target="_blank"
                                    title=""
                                >LinkedIn</a></li>
                            </ul>
                </div>
                <div class="col-3">
                    <h4 class="text-white mb-3">Let's Talk Business</h4>
                            <ul>
                                <li><a
                                    href="mailto:support@sparkpoint.io"
                                    title="Support"
                                >Support</a></li>
                                <li><a
                                    href="partners"
                                    title="Partnerships"
                                >Partnerships</a></li>
                                <li><a
                                    href="https://medium.com/theecosystem"
                                    title="Partnerships"
                                >Read our Blog</a></li>
                                <li><a
                                    href="faq"
                                    title="FAQ"
                                >FAQ</a></li>
                            </ul>
                </div>
                <div class="col-3">
                    <div class="col-lg-12 col-md-6 mb-4">
                            <h4 class="text-white mb-3">Support SRK</h4>
                            <p class="mb-0">BTC: 1ADjjD5T6gNk5iJZSurqMi2EYAXwDp53pG</p>
                            <p class="mb-0">ETH: 0x9823618bEaA61E734D2FE3A3aF38D09d1Baf50CA</p>
                        </div>
                </div>
                <div class="col-3 address">
                    <div class="col-lg-12 col-md-6 mb-4">
                        <img src="{{{googlemapaddress}}}">
                        <p class="mt-2 mb-0">Airport Rd. Legazpi City, 4500 Albay</p>
                        <p class="mt-0"><i class="fa fa-envelope fa-2x"></i> support@sparkpoint.io</p>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center footer-logo">
                <img class="img-fluid" src="{{{sparkpointlogo}}}"/>
                <h5>SparkPoint Technologies Inc.</h5>
                <h6>Reinventing Digital Payments, Building a Better</h6>
                <p><a href="https://sparkpoint.io/privacy">Privacy Policy </a>| Sitemap | <a href="sparkpoint.io"> © SparkPoint 2021 </a></p>
            </div>
        </div>
    </div>
