{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/frontpage_endorsement
}}
<div id="page-endorsement" class="frontpage-endorsement">
    <div class="container mt-5 pt-3">
        <div class="endorsement-header mt-5">
            <h4 class="text-center">DIVE DEEPER INTO BLOCKCHAIN</h4>
            <h2 class="text-center ml-auto">BLOCKCHAIN DEVELOPER BOOTCAMP</h2>
        </div>
        <div class="row mt-5 pt-3">
            <div class="col-lg-6 text-left text-white mt-4 pt-3">
                <p>
                    SparkLearn’s first Blockchain Developer Bootcamp is a 16-week online course focused on teaching the fundamental concepts and key tools in smart contract and decentralized application (DApp) development.
                </p>
                <p>
                    The courses and multi-modal content are prepared by mentors who have industry experience in blockchain technology and cryptocurrency. The online bootcamp will run from August to November 2021.
                </p>
                <p>
                    The program requires 15-20 hours per week where students can set their pace of learning.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="{{{bdbcover}}}">
            </div>
        </div>
        <div class="text-center mt-4 pt-2">
            <a href="https://sparkpoint.io/bootcamp" target="_blank">
                <button class="primary-btn-large">Visit the site</button>
            </a>
        </div>
    </div>
</div>
