{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/frontpage_testimonials

    Blocks drawer template
}}
    <div id="page-testimonial" class="frontpage-testimonial mt-0">
        <div class="container mt-5 pt-5">
            <div class="testimonial-header">
                <h4 class="text-center">LET'S HEAR IT FROM THEM</h4>
                <h2 class="text-center ml-auto">TESTIMONIALS</h2>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-md-12 col-9">
                    <div class="owl-carousel">
                        <div class="">
                            <div class="card">
                                <div class="card-body marketing-item">
                                    <img class="img-fluid student-photo" src="/theme/moove/pix/default_course.jpg" />
                                    <p>“I just took the DeFi 101 for Beginners course in SparkLearn. It has great information.”</p>
                                    {{#marketing1url}}<a class="btn btn-primary" href="{{{ marketing1url }}}">{{#str}}readmore, theme_moove{{/str}}</a>{{/marketing1url}}
                                    <h3>
                                        Kevin Andrei Wilson on DeFi 101
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="card">
                                <div class="card-body marketing-item">
                                    <img class="img-fluid student-photo" src="/theme/moove/pix/default_course.jpg" />
                                    <p>I checked the Investing 101, keep it up with giving value.</p>
                                    {{#marketing1url}}<a class="btn btn-primary" href="{{{ marketing1url }}}">{{#str}}readmore, theme_moove{{/str}}</a>{{/marketing1url}}
                                    <h3>
                                        Amineelamraoui on Investing 101
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="card">
                                <div class="card-body marketing-item">
                                    <img class="img-fluid student-photo" src="/theme/moove/pix/default_course.jpg" />
                                    <p>I checked the Investing 101, keep it up with giving value.</p>
                                    {{#marketing1url}}<a class="btn btn-primary" href="{{{ marketing1url }}}">{{#str}}readmore, theme_moove{{/str}}</a>{{/marketing1url}}
                                    <h3>
                                        John Paul Batusan
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
